.game {
  display: flex;
  gap: 20px;
}

.history{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.square{
  background: #9c9c9c;
  border: 1px solid #ffffff;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.row:after {
    clear: both;
    content: '';
    display: table;
  }

.board{
    margin: 0;
    padding: 0;
    width: 120px;
}