.colorContainer{
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.colorDisplay{
    border: 1px solid white;
    width: 200px;
    height: 200px;
    transition: .3s ease-in-out;
    border-radius: 10px;
    padding: 10px;
}

.colorDisplay p {
    transition: .3s ease-in-out;
}

.colorInput{
    width: 50px;
    height: 40px;
    padding: 2px;
    border-radius: 10px;
}