.completed {
    text-decoration: line-through;
    color: blueviolet;
    transition: color 2s ease-in-out;

}

.incompleted{
    font-weight: 400;
}

.taskInput{
    padding: 3px 7px;
    margin: 10px;
    border-radius: 10px;
    width: 200px;
    background-color: rgb(219, 219, 219);
}